.button{
    font-weight: 600;
    font-size: 0.75rem;
    color: white;
    padding: 1rem 1.25rem;
    background-color: #2196F3;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    text-transform: uppercase;
    &:hover{
        transform: scale(1.05)
    }
}