.tabs {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
  button {
    width: 100%;
    &:not(:last-child) {
      border-right-color: transparent;
    }
    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
